*.fasta
*.fa
*.fastq
*.fq
*.bc
*.gz
*.fna
*.jf_dump
*.mer_counts
00-raw_seq_data/
01-error_correction/
02-filter_adapter_seq/
03-filter_foreign_dna/
04-quality_control/
05-filter_over_represented/
06-trinity_assembly/
07-filter_chimera/
08-clustering/
09-translate/
proteome_data/
__pycache__/

