*.fastq
*.fq
*.fasta
*.fa
*.sra
*.bt2
*.sam
*.bam
*.gene_trans_map
*.log
*.gz
*.zip
*.html
*.report
*.png
*.blastx
*.cut
*.info
*.phr
*.pin
*.psq
00-raw_rnaseq_data/
04-quality_control/
05-filter_over_represented/
__pycache__/

